@use "./style/button.scss" ; // now no need to import button.css seperately to individual file

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


html,
body, 
#root {
    width: 100%;
    background-color: rgb(24, 23, 23);
    color: whitesmoke;

}